body {
    padding: 1.5rem;
    background-color: #0367a6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2303588d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
 }

main {
    background-color: white;
    border-radius: 2rem;
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 1;
    text-align: center;
    margin-bottom: .5rem;
    color: #0367A6;
    text-shadow: .1rem .2rem .2rem black;
}

h2 {
    font-family: var(--font-secundary);
    font-size: 1.8rem;
    margin-bottom: .5rem;
    
}

p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -0.005rem;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 1rem;
}

.button {
    padding: 15px;
}

@media (max-width: 900px){
    main {
        width: 90%;
        overflow: hidden;
    }
}

