.main {
    display: grid;
}

.titulo h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.titulo span {
    font-size: 1.2rem;
}

img {
    border-radius: 20px;
}

.button {
    padding: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 900px){
    .content {
        overflow: hidden;
        padding: 10px;
    }
}