/* HAMBURGUER*/
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .2rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px #52c234;
    transition: transform 1s;
}

.show-menu #line1{
    transform: translate(.4rem, .4rem) rotate(45deg);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: translate(.2rem, -.5rem) rotate(-45deg);
}

/* HEADER */
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner h1 {
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .7);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: white;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #52c234;
    background: -webkit-linear-gradient(to right, #061700, #52c234); 
    background: linear-gradient(to right, #061700, #52c234); 
    padding: 1rem 3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;

}

.banner button:hover{
    opacity: 0.8;
    color:black;
}

/* SIDEBAR */
.sidebar{
    width: 20rem;
    height: 100vh ;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 50;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-item{
    text-align: start;
    margin-bottom: 1.5rem;
    list-style: none;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #52c234;
    transition: color .6s ;
}

.menu-link:hover{
    color: black;
}

/* MAIN */
main img {
    display: block;
    max-width: 100%;
    border-radius: .5rem;
}

.main {
    display: grid;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

.imagem-3 {
    margin: 0 auto;
}

.titulo span {
    font-family: var(--font-secundary);
    font-size: 1rem;
    font-style: italic;
    margin-left: .4rem;
    font-weight: 700;
}

.destaque {
    font-size: 0.875rem;
    color: black;
    max-width: 16rem;
    font-weight: 700;
    border: black .2rem solid;
    padding: 1rem;
    border-radius: .5rem;
}

.responsive-table {
    margin: 0 auto;
    overflow: hidden;
    overflow-x: auto;
  }
  
  table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
  }
  
.tr-table {
    background-color: black;
    color: white;
}
  
table td, table th {
    white-space: wrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
}

table th {
    text-align: center;
}
  

@media (max-width: 760px){
    .content {
        grid-template-columns: auto;
        max-width: 700px;
        overflow: hidden;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .imagens {
        justify-self: center;
    }
    
    .destaque {
        justify-self: center;
    }
}


/* LINKS-ANIMAIS-PECONHENTOS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

}

.button {
    font-family: var(--font-action);
    color: white;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: black;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    
}

.button:hover {
    background: #52c234;
    background: -webkit-linear-gradient(to right, #061700, #52c234); 
    background: linear-gradient(to right, #061700, #52c234); 
}

#serpentes {
    padding: 1rem 3rem;
}

#escorpioes {
    padding: 1rem 2.8rem;
}

#abelhas {
    padding: 1rem 3.6rem;
}

#aranhas {
    padding: 1rem 3.5rem;
}

@media (max-width: 760px){
    .buttons {
        flex-direction: column;
        align-items: center;
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: 7rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 1rem;
    color: white;
    font-size: 1;
}

.social-list ul {
    list-style: none;
    display: flex;
}



