@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --font-primary:  "Baloo Da 2" , serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

p, li, table{
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -0.005rem;
    color: rgba(0, 0, 0, .9);
}

h1 {
    font-family: var(--font-primary);
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin: .5rem;
    color: #011140;
}

h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #011140
}

h3 {
    font-family: var(--font-primary);
    font-size: 2.25rem; 
}

a:hover {
    color: #BF9004;
}